/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat';
}

h1 {
    font-size: 3rem; /* Main heading size */
    font-weight: 700; /* Bold for emphasis */
    text-align: center;
    color: #333;
}

h2 {
    font-size: 2rem; /* Subheading size */
    font-weight: 600;
    color: #555;
    margin-top: 1rem;
}

p {
    font-size: 1.1rem; /* Ensuring readability for paragraphs */
    line-height: 1.6;
    color: #666;
}
.head{
    font-size:4rem;
}

.small-head{
    font-size:2.5rem
}


