.footer {
    background-color:  rgb(48, 35, 70);
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #1abc9c;
  }
  
  .footer-section p {
    line-height: 1.6;
  }
  
  .footer-section .social a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .footer-section .social a:hover {
    color: #1abc9c;
  }
  
  .footer-section .about h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  