/* Navbar.css  rgb(10, 93, 93) ; */
@import 
url('https://font.googleapis.com/css2family=Playfair+Display:wght@400;700&display=swap');
.navbar { 
    padding: 1rem;
    background-color: #008080; 
    /* background-color:#008080;  */

  }
  
  .navbar-brand {
    font-family:'Playfair Dispplay'serif;
    font-size: 2rem;
    /* font-weight: bold; */
    color: #F5EFEB;
  }
  
  .navbar-toggler {
    border: none;
    /* background-color: #0c5c5c; */
    background-color: #008080;

  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #F5EFEB;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
  
  .navbar-nav .nav-item .nav-link.active {
    color: #F5EFEB; 
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color:#F5EFEB;
  }
  
  .dropdown-menu {
    background-color:#008080;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px rgb(67, 62, 62);
  }
  
  .dropdown-menu .dropdown-item {
    color: #F5EFEB;
    background-color:   #0c5c5c;
  }
  
  .dropdown-menu  {
    /* background-color:#008080; */
    background-color: #0c5c5c ;

  }

  .dropdown-item:hover{
    background-color:#008080;
    /* background-color: #567C8D  ; */
  }

  .btn {
    background-color:  #0c5c5c;
    color: #F5EFEB;
    font-weight: 600;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
  }
  
  .btn-outline-success {
    color:#F5EFEB;
    border: 2px solid #F5EFEB;
    background-color: #008080;
  }
  
  .btn-outline-success:hover {
    background-color:  #0c5c5c;
    color: #F5EFEB;
    outline-color: #F5EFEB;
  }
  
  
  .offcanvas {
    background-color:#008080;
  }
  
  .offcanvas-header {
    border-bottom: 1px solid #ddd;
  }
  
  .offcanvas-body {
    padding: 1.5rem;
  }
  
  .offcanvas-body .nav-link {
    color:#F5EFEB;
    font-weight: 500;
  }
  
  .offcanvas-body .nav-link:hover {
    color:  #0c5c5c;
  }

  .btn:hover{
    background-color: #008080;
    color:#F5EFEB;
  }
  